{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TechStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href={% static 'user/Style/reset.min.css' %} />
        <link rel="stylesheet" href= {% static 'user/Style/style2.css' %} />
        <link rel="stylesheet" href={% static 'user/Style/header-1.css' %} />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href={% static 'user/Style/style6.css' %}>


        <!-- ===== Link Swiper's CSS ===== -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

        <!-- ===== Fontawesome CDN Link ===== -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
        
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href={% static 'user/Style/style5.css' %} />
        <link rel="stylesheet" href={% static 'user/Style/search.css' %} />

        <link rel="stylesheet" href={% static 'user/Style/style7.css' %} />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>

    <body>



        <div class="AboutUs">
            <div>
                <h2 class="AboutUs1">About Us
                </h2>
                <div class="AboutUs2">
                    <h4>Vision</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam distinctio cum qui quod
                        nam
                        temporibus, debitis sequi eaque iusto odit nesciunt, quam itaque? Minus quidem libero
                        eum
                        excepturi saepe. Adipisci nemo at, dolores veniam autem impedit nesciunt eligendi
                        mollitia
                        excepturi. Tempora quisquam doloribus consequatur vero nam aliquid, similique delectus
                        eum?
                    </p>
                    <h4>Mission</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed soluta autem repellendus
                        officia, aspernatur assumenda mollitia eveniet maiores officiis sapiente voluptas
                        temporibus
                        laudantium. Aliquam eveniet culpa aperiam temporibus ratione veritatis aspernatur, quis
                        maiores quaerat eligendi repudiandae deleniti ad eaque a? Temporibus exercitationem,
                        dolore
                        quae cupiditate, aliquam, atque repellat amet vero fugit dolorem officiis. Facere amet,
                        voluptatum ratione rem eaque atque!</p>
                    <h4>Benefis</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium repellendus quae,
                        placeat iste modi molestiae dolor corrupti quia ipsum vitae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, soluta!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae ullam alias
                        praesentium labore, harum quos est vel minima libero beatae quod facere enim, assumenda
                        ipsam laboriosam distinctio repellat cum.</p>
                </div>
            </div>
        </div>


        <div class="footer-clean">
            <footer>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-4 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Legacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-3 item">
                            <h3>Careers</h3>
                            <ul>
                                <li><a href="#">Job openings</a></li>
                                <li><a href="#">Employee success</a></li>
                                <li><a href="#">Benefits</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                            <p class="copyright">Company Name © 2018</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        

 
        <script src={% static 'user/Js/header-1.js'%}></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    </body

</html>