{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>TechStack</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href={% static 'user/Style/reset.min.css' %} />
        <link rel="stylesheet" href= {% static 'user/Style/style2.css' %} />
        <link rel="stylesheet" href={% static 'user/Style/header-1.css' %} />
    </head>
    <body>
        <!-- Header Start -->
        <header class="site-header">
            <div class="wrapper site-header__wrapper">
                <a href="#" class="brand">TechStack</a>
                <nav class="nav">
                    <button class="nav__toggle" aria-expanded="false" type="button">
                        menu
                    </button>
                    
                    <ul class="nav__wrapper">
                        <li class="nav__item"><a href="#">Home</a></li>
                        <li class="nav__item"><a href="#">About</a></li>
                        <li class="nav__item"><a href="#">Services</a></li>
                        <li class="nav__item"><a href="#">Contact</a></li>
                        <li class="nav__item"><a href="signin">Sign in</a></li>
                        <li class="nav__item"><a href="signup">Sign up</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header End -->

        <script src={% static 'user/Js/header-1.js'%}></script>
    </body>
</html>
